@use "@/variables" as shared;

.loader {
  display: inline-block;
  border: 4px solid;
  border-color: shared.$text-color-info transparent transparent transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 3rem;
  height: 3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
