@use "@/variables" as shared;

.card {
  background-color: shared.$bg-color-main;
  padding: 1rem;

  &__title {
    font-size: shared.$font-size-large;
    color: shared.$text-color-secondary;
    margin: 0;
    margin-bottom: 1rem;
  }
}
