.table {
  td,
  th {
    font-weight: normal;
    padding: 0.3rem;
  }

  table {
    border-collapse: collapse;
  }

  .title {
    font-size: 1.6rem;
    color: grey;
    margin: 1rem;
    margin-left: 0;
  }

  .header {
    font-size: 0.8rem;
    color: grey;
  }
}
