.table {
  border-collapse: collapse;
  width: 100%;

  // tr {
  //   display: flex;
  //   justify-content: space-between;
  // }

  td,
  th {
    font-weight: normal;
    padding: 0.3rem;
  }

  .header {
    font-size: 0.8rem;
    color: grey;
  }
}
