@use "@/variables" as shared;

.table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    font-weight: normal;
    padding: shared.$padding-small;
  }

  &__header {
    font-size: shared.$font-size-small;
    color: grey;
  }
}
