// $primary-color: #3498db;
// $secondary-color: #2ecc71;
$text-color: #333;
$text-color-secondary: #757575;
$text-color-info: #3769d4;

$padding-small: 0.3rem;

$font-size-small: 0.8rem;
$font-size-large: 1.6rem;

$bg-color-main: #fff;
$bg-color-secondary: #f5f2f1;

// $font-size: 16px;
// $spacing: 8px;
